.ipynb_checkpoints/
.DS_Store
__pycache__/
*.pyc
.vscode/
.claude/
*.zip
Q1_report_requirements.txt
apple_health_export/
digital_twin_app/.DS_Store
digital_twin_app/DigitalTwin.xcodeproj/project.pbxproj
digital_twin_app/DigitalTwin.xcodeproj/project.xcworkspace/xcuserdata/
digital_twin_app/DigitalTwin.xcodeproj/xcuserdata/
digital_twin_app/DigitalTwin/.DS_Store
digital_twin_app/DigitalTwin.xcodeproj/project.pbxproj

digital_twin_app/DigitalTwin/Testing_files/

Fitbit6-PMData/
digital_twin_app/navigation_mockups.html
digital_twin_app/app_replica.html
digital_twin_app/onboarding_mockups.html
